# Build files
.gradle
.kotlin
build

# IDE files
*.iml
.idea/*
!.idea/icon.svg
/captures

# Configuration files
keystore.properties
local.properties

# macOS specific files
.DS_Store

app_debug.zip
temp_apk/
ignorance/
aoi-release.keystore
